dist
*classes
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/sbt_project_definition.iml
.idea
.svn
.classpath
*~
*#
.#*
rat.out
TAGS
.project
.settings/
*.iml
.gradle
clients/build/
contrib/build/
contrib/hadoop-consumer/build/
contrib/hadoop-producer/build/
core/build/
examples/build/
perf/build/
